<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>

  <div class="container">
    <h2>Contact</h2>
    <h6>Los datos de contacto son conjuntos de datos que contienen información sobre personas relevante para la
      proyección de la empresa.
      Estos conjuntos de datos están predominantemente vinculados o relacionados con datos organizacionales o
      institucionales de las personas.
    </h6>
    <br>
    <div class="row">
      <div class="col-2"> 
      </div>
      <div class="col-8">
        <form class="bg-light">
          <div>
            <div class="row mb-3">
              <div class="col">
                <label for="exampleFormControlInput1" class="form-label"> <b>E-mail</b> </label>
              </div>
              <div class="col-9">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="your email">
              </div>
            </div>
            <div>
              <div class="row mb-3">
                <div class="col">
                  <label for="exampleFormControlTextarea1" class="form-label"> <b>Your message</b> </label>
                  </div>
                  <div class="col-8">
                  <textarea class="form-control" id="exampleFormControlTextarea1"
                    placeholder="Please enter your message here..." rows="4"></textarea>
                </div>
                <div class="col-1"> </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button type="button" class="btn btn-primary">Submit</button>
               

        </form>
      </div>
</body>

</html>
        
