<div> 
    <span class="border-top"></span> 
</div>
<div class="row bg-white py-5">
    <div class="col-1">   
    </div>
    <div class="col-7 ">
        <p class="display-5"><b>This First Heading</b> <b style="color:dimgray">Will Catch Your Eye</b></p>
        <p class="justify-content" style="font-size: 25px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultricies libero sodales libero eleifend, 
            eget consequat ante ornare. Morbi sed facilisis tortor. Morbi blandit justo quis metus porta vulputate. 
            Nullam cursus ipsum porta lacus fringilla, nec rhoncus turpis porttitor. Nullam ullamcorper nulla vitae 
            diam fringilla imperdiet. Nunc pretium lacus magna, vel faucibus massa luctus sit amet. Proin at sem eget
             sapien mattis auctor.</p>
    </div>
    <div class="col-3">
        <img class="rounded-circle" src="/website/assets/img/1.jpg" alt="Walter White BITCH">
    </div>
    <div class="col-1">   
    </div>
</div>