<div class="container-fluid row">
    <div class="col-8">
<h1>This First Heading <small class="text-muted">Will Catch Your Eye</small></h1>
<p>Donec ullarncorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis eusmod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-4">
        <img src="https://www.nacionrex.com/__export/1516398295076/sites/debate/img/2018/01/19/walter-white-1.jpg_423682103.jpg" class="img-fluid border-radius">
    </div>
</div>