<!-- your html code here -->
<div class="container py-5">
    <h1 class="fw-semibold h1">Porfolio</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="row">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <div class="card">
                <img src="https://disenowebakus.net/imagenes/articulos/historia-y-origen-de-html.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title h4" style="color: rgb(80, 80, 221)">Project Name</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>     
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <div class="card">
                <img src="https://disenowebakus.net/imagenes/articulos/historia-y-origen-de-html.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title h4" style="color: rgb(80, 80, 221)">Project Name</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>     
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <div class="card">
                <img src="https://disenowebakus.net/imagenes/articulos/historia-y-origen-de-html.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title h4" style="color: rgb(80, 80, 221)">Project Name</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>     
        </div>
    </div>
</div>