<!-- your html code here -->
<div class="row bg-white py-5 border-top">
    <div class="col-1">
    </div>
    <div class="col-3">
      <img class="rounded-circle" src="/website/assets/img/2.jpg" alt="Keyboard">
    </div>
    <div class="col-7">

      <p class="display-5 text-center"> <b> The Second Heading</b> <b style="color:dimgray">Is Pretty Cool Too.</b></p>
      <p style="font-size: 25px" class="justify-content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </p>
    </div> 
    <div class="col-1">
    </div>
  </div>
  